<%= simple_form_for resource do |f| %>
  <%= f.input :name %>

  <%= f.input :visibility, as: :select, collection: Group.visibilities.keys, include_blank: false %>

  <%= f.input :description %>

  <%= f.input :starts_at, as: :string %>

  <%= f.input :ends_at, as: :string %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
