@import "bootstrap-tagsinput.min";
@import "overlay";
@import "bootstrap";
@import "toastr/toastr";
@import "sweetalert2";
@import "*";

@font-face {
  font-family: "Century Gothic";
  src: asset-url("CenturyGothic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #6d3606 image-url("background-1.jpg");
  background-size: cover;
  font-family: "Century Gothic", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}

::selection {
  background: #93440180;
}

:focus {
  outline: none;
}

input[readonly] {
  background: #e9e9e9 !important;
}

textarea {
  resize: vertical;
  min-height: 35px;
}

form {
  width: 100%;
}

pre {
  padding: 12px;
  background: #e1e1e1;
  border-radius: 5px;
  color: #545454;
}
